/** @format */

:root {
  --dark: #0b0c23;
  --light: #fefefa;
  --highlight: #ffb4a3;

  --text-font: "Rubik", sans-serif;
  --title-font: "Domine", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--text-font);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 780px) {
  #sm-only {
    display: none;
  }
  #no-sm {
    display: inline;
  }
}

@media (max-width: 780px) {
  #no-sm {
    display: none;
  }
  #sm-only {
    display: inline-block;
  }
}
